@import "tailwindcss";

@theme {
  /* Theme colors */
  --color-primary: #21544e;
  --color-primary-light: #a3dabc;
  --color-primary-dark: #113030;

  --color-secondary-light: #f2e9ca;
  --color-secondary: #e1b770;
  --color-secondary-dark: #2a2011;
}

@layer base {
  .btn {
    @apply px-4 py-2 rounded-full  font-medium cursor-pointer;
    @apply flex items-center justify-center;
    @apply transition-all duration-300 ease-out;
    @apply hover:shadow-lg  hover:scale-[1.02] active:scale-98 hover:brightness-125;
  }
}

@keyframes spin {
  0% {
    rotate: 0%;
  }

  100% {
    rotate: 360%;
  }
}

.animate-spin-slow {
  animation: infinite 10s;
}
